:root {
  --primaryClr: #000;
}
.secblue {
  color: #4F6E87;
}
.burger {
  padding: 80px 0;
}
.btn-lg {
  background-color: #3d6e88;
  border-radius: 0;
  margin-right: 35px;
  padding: 12px 25px;
}
.text-white {
  color: #fff;
}
.gray-text {
  color: #9E9E9E;
}
.d-flex {
  display: flex;
}
.flex-space {
  display: flex;
  justify-content: space-between;
}
body.home {
  background-image: none !important;
}
#site-footer {
  background-color: #002746;
  border-top: 1px solid #666;
  padding: 80px 0px 0;
}
.bottom-footer p {
  font-size: 14px;
  line-height: 25px;
  margin-left: 20px;
}
.bottom-footer a {
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #fff !important;
  text-transform: capitalize;
}
.contact-grp {
  display: flex;
  justify-content: center;
}
#search {
  position: relative;
  top: 0;
  background-color: #B3BEC8;
  height: 43px;
  width: 220px;
}
#search input[type=submit] {
  position: absolute;
  top: 0;
  right: -22px;
  width: 40px;
  height: 43px;
  border-radius: 0;
}
.bottom-menu {
  list-style: none;
  display: flex;
  justify-content: center;
}
.bottom-menu a {
  margin: 0;
  font-size: 16px !important;
  margin-right: 25px;
}
#logo {
  position: absolute;
  top: 20px;
  left: 15px;
}
#primary-nav {
  margin-top: 0 !important;
}
/*------------- Banner Css ------------------*/
#site-main {
  padding-top: 0 !important;
}
.banner {
  background-image: url('../images/banner-img.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.banner-content {
  background-color: #fff;
  color: #000;
  width: 30%;
  position: absolute;
  padding: 35px;
  bottom: 50px;
  left: 0;
}
.banner-content p {
  font-family: Helvetica Neue;
  font-weight: 700 !important;
  font-size: 31px;
  font-style: normal;
  letter-spacing: 0px;
  text-align: left;
  color: #323232 !important;
  line-height: 45px;
  border-bottom: 1px solid #323232;
  padding-bottom: 20px;
}
.inner-box {
  background-color: #F9C20A;
  position: absolute;
  top: 0;
  width: 50%;
  right: -130px;
  padding: 20px;
}
.banner-content span {
  color: #9E9E9E;
  float: right;
}
.inner-box p {
  font-size: 18px;
  line-height: 23px;
  border: 0;
}
.inner-box svg {
  float: right;
}
/* ------------ Service Section Css -------------- */
.service-item {
  background: #4F6E87;
  padding: 20px;
}
.service-item h3 {
  font-family: Helvetica Neue;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
}
